.commandsCard{
    width: 600px;
    height: wrap;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-top: 0.4rem;
    background-color: #141414;
    color: #fff;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.docLink {
    color: #404EED;
}