@keyframes slideInAnimation {
    0% {
        margin-right: -45rem;
    }
    100% {
        margin-right: 5rem;
    }
}

.commandsCard{
    width: 800px;
    height: wrap;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-top: 0.4rem;
    background-color: #141414;
    color: #fff;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;
}

.buttonSwitch{
    margin-top: 1rem;
}

.nextButton{
    background-color: #5865F2;
    border: 3px solid #5865F2;
    border-radius: 15px;
    height: 3rem;
    width: 11rem;
    font-size: 19px;
    padding: 5px;
    color: #fff;
    transition: ease 0.7s;
    margin-right: 1rem;
}

.nextButton:hover{
    background-color: #404EED;
    border: 3px solid #404EED;
    border-radius: 7px;
    transition: ease 0.7s;
    cursor: pointer;
}

.backButton{
    background-color: #454d53;
    border: 3px solid #454d53;
    border-radius: 15px;
    height: 3rem;
    width: 9rem;
    font-size: 19px;
    padding: 5px;
    color: #fff;
    transition: ease 0.7s;
    margin-right: 1rem;
}

.backButton:hover{
    background-color: #32373b;
    border: 3px solid #32373b;  
    border-radius: 7px;
    transition: ease 0.7s;
    cursor: pointer;
}

.docLink {
    color: #404EED;
}

.tipTitle {
    width: 100;
    background: #32cd32;
    padding: 3px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.tipContent {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.tipCard {
    width: 400px;
    height: wrap;
    background-color: #141414;
    color: #fff;
    border-radius: 15px;
    margin-right: 1rem;
    position: absolute;
    z-index: 2;
    top: 50;
    right: 0;
    margin-right: 5rem;
    transition: ease 0.7s;
    animation: slideInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.closeTipButton{
    background-color: #ED4245;
    border: 3px solid #ED4245;
    border-radius: 15px;
    height: 3rem;
    width: 9rem;
    font-size: 19px;
    padding: 5px;
    color: #fff;
    transition: ease 0.7s;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.closeTipButton:hover{
    background-color: #f5272a;
    border: 3px solid #f5272a;
    border-radius: 7px;
    transition: ease 0.7s;
    cursor: pointer;

}