
@keyframes slideInAnimation {
    0% {
        margin-left: -45rem;
    }
    100% {
        margin-left: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .sideBar {
        z-index: -1 !important;
        position: fixed !important;
        display: none;
   }
}

@media screen and (min-width: 600px) {
    .sideBar {
        display: block;
        animation: slideInAnimation ease 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
   }
}

.sideListTitle{
    color: #404EED;
    margin-bottom: -0.17rem;
}

.sideBar{
    float: left;
    border-radius: 15px;
    min-height: wrap;
    padding: 1rem;
    background-color: #141414;
    color: #fff;
    transition: ease 0.5s;
    animation: slideInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: 0;
    overflow: hidden;
    display: block;
    position: relative;
    margin-top: 1rem;
}

.toggleSideBar {
    z-index: -1 !important;
    position: fixed !important;
    display: none;
  }

.sideList {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

.sepList{
    padding: 0.3rem;
}

.sepList:hover {
    color: #404EED;
    transition: ease 0.5s;
}