
@keyframes slideInAnimation {
    0% {
        margin-left: -45rem;
    }
    100% {
        margin-left: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .sideBar {
        position: fixed !important;
   }
}

@media screen and (min-width: 600px) {
    .sideBar {
        display: block;
        animation: slideInAnimation ease 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
   }
}

.sideListTitle{
    color: #404EED;
    margin-bottom: -0.17rem;
}

.sideBar{
    float: left;
    border-radius: 15px;
    min-height: wrap;
    padding: 1rem;
    background-color: #141414;
    color: #fff;
    transition: ease 0.5s;
    animation: slideInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: 6;
    overflow: hidden;
    display: block;
    position: relative;
}

.toggleSideBar {
    z-index: -1 !important;
    position: fixed !important;
    display: none;
  }

.sideList {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

.sepList{
    padding: 0.3rem;
}

.sepList:hover {
    color: #404EED;
    transition: ease 0.5s;
}

.sideBtn{
    background-color: #454d53;
    border: 3px solid #454d53;
    border-radius: 7px;
    height: 3rem;
    width: stretch;
    font-size: 19px;
    padding: 5px;
    color: #fff;
    transition: ease 0.7s;
}

.sideBtn:hover{
    background-color: #32373b;
    border: 3px solid #32373b;  
    transition: ease 0.7s;
    cursor: pointer;
}

.sideBtnCircle{
    width: 6rem;
    color: #fff;
    height: 2rem;
    margin-left: 1.5rem;
    background-color: #5865F2;
    border: 3px solid #5865F2;
    border-radius: 7px;
    transition: ease 0.7s;
    position: absolute;
    z-index: 5;
}

.sideBtnCircle:hover{
    width: 6rem;
    color: #fff;
    height: 2rem;
    background-color: #404EED;
    border: 3px solid #404EED;
    border-radius: 7px;
    transition: ease 0.7s;
    position: absolute;
    z-index: 5;
}

.darkOverlay{
    position: fixed;
    padding-top: 1rem;
    z-index: 300;
    background-color: rgba(1, 1, 1, 0.7);
    top: 0;
    left: 0;
    height: 105%;
    width: 105%;
    transition: ease 0.5s;
}